extends base

block content
    if loggedInUser.avatarUrl === ""
        span 😀
    else
        if loggedInUser.avatarUrl
            div.profile__data
                if loggedInUser.avatarUrl.startsWith("http")
                    img(src=loggedInUser.avatarUrl).avatar
                else
                    img(src="/" + loggedInUser.avatarUrl).avatar
    form(method="POST", enctype="multipart/form-data").edit-profile__form
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatar", accept="image/*")
        label(for="name") Name
        input(placeholder="Name", id="name", name="name", type="text", required, value=loggedInUser.name)
        label(for="email") Email
        input(placeholder="Email", id="email", name="email", type="email", required, value=loggedInUser.email)
        label(for="username") UserName
        input(placeholder="Username", id="username", name="username", type="text", required, value=loggedInUser.username)
        label(for="location") Location
        input(placeholder="Location", id="location", name="location", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;